{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-lg">
        <div class="register shadow">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-theme">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}