{% extends 'base.html' %}
{% block content %}
    <div class="container-lg my-3 bg-light p-4 shadow-sm about">
        <p class="my-0">
            This Project - <strong>Resume Builder</strong> is developed by <em>Umang Thadani (1914061)</em> and <em>Anurag Singh (1914058)</em> as a part of <b>Django Audit Course</b> taken by <em>Prof. Suchita Patil</em>. <br> <br>
            The website is hoisted on <a href="https://createresumo.herokuapp.com/" target="_blank">Heroku</a> and the source code is available on <a href="https://github.com/heyanurag/resumo" target="_blank">Github</a>
        </p>
    </div>
{% endblock content %}