{% extends 'base.html' %}
{% block content %}
    <div id="resume" class="row">
        <section class="col-lg-3 col-md-4 col-sm-6 col-12 left">
            <div class="personal">
                <h2>Personal Details</h2><hr>
                <p>
                    <svg class="mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    <b>Address:</b><br>
                    {{ user.profile.address }}
                </p>
                <p>
                    <svg class="mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path></svg>
                    <b>Phone:</b>
                    <br>
                    {{ user.profile.phone }}
                </p>
                <p>
                    <svg class="mb-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                    <b>Email:</b>
                    <br>
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                </p>
                <button onclick="window.print()" class="noPrint btn btn-outline-light">Download</button>
            </div>
        </section>
        <section class="col-lg-9 col-md-8 col-sm-6 col-12 right">
            <div class="professional px-2">
                <div class="introduction">
                    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                </div>
                <div class="experience">
                    <h2>WORK EXPERIENCE</h2>
                    <h3>{{ workexp.title1 }}</h3>
                    <p>
                        {{ workexp.start_date1 }} - 
                        {% if workexp.end_date1 %}
                            {{ workexp.end_date1 }}
                        {% else %}
                            Now
                        {% endif %}
                    </p>
                    <p>
                        {{ workexp.description1 }}
                    </p>

                    {% if workexp.title2 %}
                    <h3>{{ workexp.title2 }}</h3>
                    <p>
                        {{ workexp.start_date2 }} - 
                        {% if workexp.end_date2 %}
                            {{ workexp.end_date2 }}
                        {% else %}
                            Now
                        {% endif %}
                    </p>
                    <p>
                        {{ workexp.description2 }}
                    </p>
                    {% endif %}
                </div>
                <div class="skills">
                    <h2>SKILLS</h2>
                    <ol>
                        <li>{{ skills.skill1 }}</li>
                        <li>{{ skills.skill2 }}</li>
                        <li>{{ skills.skill3 }}</li>
                    </ol>
                </div>
                <div class="education">
                    <h2>EDUCATION</h2>
                    <small>{{ education.starting_year }} - {{ education.passing_year }}</small>
                    <p>
                        <span style="font-weight: 500;">{{ education.stream }} - </span>
                        {{ education.degree }}<br>
                        <span style="font-weight: 500;">CGPI:</span> {{ education.cgpa }}
                    </p>
                </div>
                <div class="interest">
                    <h2>INTERESTS</h2>
                    <ul>
                        <li>{{ interest.interest1 }}</li>
                        <li>{{ interest.interest2 }}</li>
                        <li>{{ interest.interest3 }}</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}