body {
    background-color: #f4f4f4;
    color: #4f4f4f;
    min-height: 100vh;
    padding-bottom: 80px;
    position: relative;
}

.app {
    margin-top: 25px;
}

.app h2.page-title {
    font-size: 1.5rem;
}

nav.navbar {
    padding: 0;
}

nav.navbar .navbar-nav .nav-item {
    padding: 5px 7.5px;
}

nav.navbar .navbar-nav .nav-item .nav-link {
    color: #f4f4f4;
}

nav.navbar .navbar-nav .nav-item.active {
    background-color: #fff;
}

nav.navbar .navbar-nav .nav-item.active .nav-link {
    color: #212529;
}

nav.navbar .navbar-nav .nav-item:hover {
    background-color: #f1f1f1;
}

nav.navbar .navbar-nav .nav-item:hover .nav-link {
    color: #4f4f4f;
}

.app h2.page-title {
    color: #212529;
    width: max-content;
    padding: 7.5px 15px 11px;
    margin: 10px auto;
    border-bottom: 2px solid #212529;
}

.app .register, .app .login {
    margin: 25px auto;
    padding: 25px 40px;
    max-width: 600px;
    background-color: #fff;
    font-size: 0.9rem;
}

.app .register form label, .app .login form label {
    margin-top: 15px;
}

.app form span.asteriskField {
    color: red;
    margin-left: 3px;
}

.btn-outline-theme {
    border: 1px solid #212529;
}

.btn-outline-theme:hover {
    background-color: #212529;
    color: #fff;
}

.app .create-resume {
    padding: 25px;
    background-color: #fff;
    color: #212529
}

.app form .instruction {
    margin: 20px 0 10px;
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
}

#resume {
    background-color: #f4f4f4;
}

#resume section {
    padding: 25px 20px;
}

#resume .left {
    padding-top: 35px;
    background-color: #171820;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
}

#resume .right {
    color: #171820;
}

.personal svg {
    width: 17.5px;
    height: 17.5px;
}

.personal h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.professional h1 {
    padding-bottom: 10px;
    border-bottom: 2px solid #171820;
}

.professional h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #171820;
}

.professional h3 {
    font-size: 1.15rem;
    font-weight: 500;
    padding-top: 5px;
}

.professional p, .professional ul, .professional ol {
    padding: 5px 0;
}

.professional ul, .professional ol {
    padding-left: 20px;
    list-style: square;
}

.profile.card {
    max-width: 800px;
    margin: 10px auto;
    padding: 25px;
}

.about {
    font-size: 1.1em
}

.about em {
    text-decoration: underline;
}

.landing-page {
    margin-top: -25px;
    padding: 25px;
    background: linear-gradient(180deg, #ffffff, #ffffff, #ffffff, #ffffff, #f4f4f4, #f4f4f4);
}

.landing-page img {
    width: 80%;
    height: auto;
}

.landing-page a.btn {
    border-radius: 100px;
}

.home svg {
    width: 25%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #171820;
    color: #f4f4f4;
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
}

@media print {
    .noPrint {
        display: none;
    }

    #resume .left {
        max-width: 30%;
    }

    #resume .left p {
        max-width: 230px;
    }

    #resume .right {
        max-width: 70%;
    }
}